.container{
    padding: 5vh 0;
    width: 100%;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2,h3{
    text-align: center;
    color: var(--cor-texto-secundaria);
}

.box-habilidades{
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding:10px;
    margin: auto;
    width: 1000px;
}
.cabecalho-habilidades
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.lista-habilidades{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.mover{
    all: unset;
}
.mover:hover{
    cursor: pointer;
}
.mover img{
    width: 55px;
    height: 55px;
    transition: 0.3s;
}
.mover:hover img{
    transform: scale(1.2);
}



#projetos{
    background-color: var(--cor-primaria);
    display: block;
    justify-content: none;
    align-items: none;
}
.lista-projetos{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
@media only screen and (max-width: 1650px) {
    .container{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media only screen and (max-width: 550px) {

}