.bloco-projeto{
    margin: 30px 5%;
    width: 40vw;
    height: 40vw;
    border-radius: 10px;
    padding-bottom: 20px;
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    transition: background-image 0.3s linear;
}

.bloco-projeto:hover{
    background-color: #417cb3;
    background-image: none !important;
    background-blend-mode: screen;
    cursor: pointer;
}

.bloco-projeto:hover .conteudo-projeto{
    visibility: inherit;
}
.conteudo-projeto{
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloco-projeto:nth-child(even){
    align-self: flex-end;
}

.bloco-projeto > h3{
    font-size: 2vw;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.bloco-projeto > p {
    text-align: center;
}

.botoes{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botoes > button {
    appearance: none;
    background-color: #4989c5;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0 10px;
    min-height: 60px;
    outline: none;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.botoes > button:hover {
    background-color: #417cb3;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.botoes > button:active {
    background-color: #499ff0;
    box-shadow: none;
    transform: translateY(0);
}


@media only screen and (max-width: 550px) {
    .bloco-projeto{
        width: 100%;
        align-self: center;
        font-size: 12px;
    }
    .bloco-projeto:nth-child(even){
        align-self: center;
    }
    .botoes{
        width: 98%;
    }
    .botoes > button {
        min-height: 30px;
        padding: 4px 0;
        font-size: 12px;
    }
}